/*Css for header and footer on every page.*/

body {
	background-image: url("../images/wood.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
}


#topnav {
	width: 100%;
	background-color: #FFFFFF;
	margin: 0px;
	overflow: hidden;
	border-bottom: 3px solid #CCCCCC;
	position: fixed;
	z-index: 99;
}
#topnav h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
    width: 200px;
    background-color: #41AAA5;
    color: white;
    margin-left: 75px;
    margin-top: 0px;
    padding: 20px;
    padding-top: 25px;
    text-align: center;
    float: left;
    margin-bottom: 0px;
    font-size: 30px;
}
/* css for Navigation links */
#toplinks {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	text-align: center;
    list-style-type: none;
    float: right;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 10px;

}
#toplinks li {
    width: 50px;
    padding: 11px;
    display: inline-block;
}
#toplinks li a {
	color: #666;
	text-decoration: none;
}
/*gives portfolio link border on both sides.*/
#middlelink {
	border-left: 1px solid #F4F4F4;
	border-right: 1px solid #F4F4F4;
}
/*css for footer*/
#footer {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    background-color: #666666;
    text-align: center;
    padding: 25px;
    vertical-align: middle;
    position: fixed;
    border-top: 5px solid #41AAA5;
    color: white;
    font-size: 15px;
    bottom: 0;
}
/* CSS for Sidebar*/
#sidebar {
	padding: 10px;
    float: left;
    margin-top: 120px;
    margin-left: 30px;
    width: 270px;
    background-color: white;
    border: 1px solid #dddddd;
}
/*CSS for text inside sidebar */
#sidebar h3 {
	text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #41AAA5;
    font-size: 24px;

}
/*CSS for images on sidebar */
#images {
	border-top: 3px solid #CCCCCC;
	margin-top: 10px;
	padding-top: 10px;
}
#images a {
	padding: 10px;
}
